.Button {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  margin-right: 20px;
  margin-top: 10px;
  font-size: 14pt;
  font-weight: 900;
  box-shadow: 25px 25px 25px grey;
  min-width: 100px;

  color: blue;
  background-color: yellow;
}
.Button:hover {
  box-shadow: 15px 15px 15px gray;
  border: 1p solid #afafaf;
}
.Button.clicked {
  box-shadow: 5px 5px 5px grey;
  transform: translateY(4px);
}
